<app-headers></app-headers>

<div class="dataset-name" id="tab1" *ngIf="panelOneExpanded == false; else datasetDefinition" style="margin-left: 15px;margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Dataset Definition</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelOneExpanded()">
</div>

<ng-template #datasetDefinition>
  <div class="box" *ngIf="panelOneExpanded == true || panelThreeExpanded == true && panelTwoExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Dataset Definition <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelOneExpanded()"></div>
  </div>
</ng-template>

<div class="dataset-name" id="tab2" *ngIf="panelTwoExpanded == false; else technicalSchema" style="margin-left: 15px;margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Technical Schema</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelTwoExpanded()">
</div>

<ng-template #technicalSchema>
  <div class="box" *ngIf="panelTwoExpanded == true || panelThreeExpanded == true && panelFourExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Technical Schema <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelTwoExpanded()"></div>
  </div>
</ng-template>

<div class="dataset-name" id="tab3" *ngIf="panelThreeExpanded == false; else validationSchema" style="margin-left: 15px;margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Validation</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelThreeExpanded()">
</div>

<ng-template #validationSchema>
  <div class="box" *ngIf="panelThreeExpanded == true || panelOneExpanded == true && panelFourExpanded == true && panelTwoExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Validation <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelThreeExpanded()"></div>
  </div>
</ng-template>

<div class="dataset-name" id="tab4" *ngIf="panelFourExpanded == false; else schedulingSchema" style="margin-left: 15px;margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Scheduling & Governance</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelFourExpanded()">
</div>

<ng-template #schedulingSchema>
  <div class="box" *ngIf="panelFourExpanded == true || panelOneExpanded == true && panelFourExpanded == true && panelTwoExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Scheduling & Governance <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelFourExpanded()"></div>
  </div>
</ng-template>

<div class="dataset-name" id="tab5" *ngIf="panelFiveExpanded == false; else publish" style="margin-left: 15px; margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Publish</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelFiveExpanded()">
</div>

<ng-template #publish>
  <div class="box" *ngIf="panelFiveExpanded == true || panelOneExpanded == true && panelFourExpanded == true && panelTwoExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Publish <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelFiveExpanded()"></div>
  </div>
</ng-template>

<!-- <div class="dataset-name" id="tab3" *ngIf="panelThreeExpanded == false; else validationSchema" style="margin-left: 15px;margin-top:20px; cursor: pointer;"><span style="margin-left: 15px; font-size: 14px; color:#797979">Validation</span>
  <img src="someimage.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelThreeExpanded()">
</div>

<ng-template #validationSchema>
  <div class="box" *ngIf="panelThreeExpanded == true || panelOneExpanded == true && panelFourExpanded == true && panelTwoExpanded == true">
    <div style = "margin-top: 10px; margin-left: 15px; cursor: pointer; color: #C1AE87">Validation <img src="somePic.png" style="width:20px; height:20px; margin-right: 35px; float: right;" (click)="makePanelThreeExpanded()"></div>
  </div>
</ng-template> -->